<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>steem payment module (copy)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/submitted.min.css">
</head>

<body style="background-color:rgb(236,236,236);">
    <div class="login-clean">
        <form method="post">
            <div class="illustration"><i class="material-icons" style="color:rgb(71,244,244);font-size:50px;">check</i></div>
            <div class="form-group"><strong class="d-block" style="margin-bottom:12px;margin-top:-10px;">Your Order Has Been Submitted!</strong><strong class="d-block" style="margin-bottom:12px;margin-top:-8px;">$ 1 SBD</strong></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(71,244,244);">Go back shopping</button></div><a class="forgot">click here for more</a></form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>